[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-taggit = "*"
dj-database-url = "*"
factory-boy = "*"
whitenoise = "*"
django-extensions = "*"
pillow = "*"

[requires]
python_version = "3.9"
