[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
psycopg2-binary = "==2.8.3"
django-crispy-forms = "==1.8.0"
django-allauth = "==0.40.0"
pillow = "==6.2.1"
django-extensions = "*"
django-environ = "*"
whitenoise = "==4.1.4"
gunicorn = "==19.9.0"
dj-database-url = "==0.5.0"

[requires]
python_version = "3.7"
