{% extends '_base.html' %}

{% block loader %}
<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming">
  <div class="loader-wrapper-outer">
    <div class="loader-wrapper-inner">
      <div class="loader"></div>
    </div>
  </div>
</div>
<!-- end loader -->
{% endblock loader %}

{% block content %}
<div class="clearfix"></div>

<div class="content-wrapper">
  <div class="container-fluid">

    <div class="mt-3">
      <div id='calendar'></div>
    </div>

    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->

  </div>
  <!-- End container-fluid-->
</div>
<!--End content-wrapper-->
{% endblock content %}