{% extends 'dashboard/base.html' %}
{% block title %}{{ product.title|title }}{% endblock title %}
{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mt-3 mb-3">
            <img class="card-img-top" src="https://picsum.photos/1001/180" alt="{{ product.title|title }}">
            <div class="card-body">
                <h3 class="card-title">{{ product.title|title }}</h3>
                <p class="card-text">
                    {{ product.description }}
                </p>
            </div>
            <div class="card-footer">
                <small>{{ product.seller.name }}</small>
                <small>{{ product.date_updated }}</small>
                {% for t in product.tags.all %}
                <small>{{ t.name }},</small>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}