{% extends '_base.html' %}
{% block title %}Log Book{% endblock title %}
{% block content %}
<a href="{% url 'dive_list' %}">
    <div class="d-flex">
        <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
        <p class="lead ml-2">Dives</p>
    </div>
</a>
<div class="clearfix"></div>

<div class="card mt-3">
    <img class="card-img-top" src="https://picsum.photos/1001/180" alt="hero card image">
    <div class="card-body">
        <h5 class="display-4">Hero Card</h5>
        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This
            content is a little bit longer.</p>
        <p>Last updated 1 day ago.</p>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a href="{{ dive.get_update_url }}"><i class="fa fa-pencil fa-lg p-2" aria-hidden="true"></i></a>
        <a href="{{ dive.get_delete_url }}"><i class="fa fa-trash fa-lg p-2" aria-hidden="true"></i></a>

    </div>
</div>
{% endblock content %}