{% extends '_base.html' %}
{% block title %}Log Book{% endblock title %}
{% block content %}
<a href="{% url 'dive_list' %}">
    <div class="d-flex">
        <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
        <p class="lead ml-2">Dives</p>
    </div>
</a>
<div class="clearfix"></div>

<div class="card mt-3">
    <img class="card-img-top" src="https://picsum.photos/1001/180" alt="hero card image">
    <div class="card-body">
        <h5 class="display-4">{{ dive.description }}</h5>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Lat</th>
                        <th scope="col">Lon</th>
                        <th scope="col">Visibility</th>
                        <th scope="col">Bottom Time</th>
                        <th scope="col">Diver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ dive.date }}</td>
                        <td>{{ dive.lat }}</td>
                        <td>{{ dive.lon }}</td>
                        <td>{{ dive.visibility }}</td>
                        <td>{{ dive.bottom_time }}</td>
                        <td>{{ dive.created_by.get_full_name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a href="{{ dive.get_update_url }}"><i class="fa fa-pencil fa-lg p-2" aria-hidden="true"></i></a>
        <a href="{{ dive.get_delete_url }}"><i class="fa fa-trash fa-lg p-2" aria-hidden="true"></i></a>

    </div>
</div>
{% endblock content %}