{% extends '_base.html' %}
{% block title %}{{ seller.name }}{% endblock title %}

{% block content %}
<div>
    {% if seller.logo %}
    <img class="img-fluid" src="{{ seller.logo.url }}" alt="{{ seller.logo }}">
    {% endif %}
    {% if seller.header_image %}
    <img class="img-fluid" src="{{ seller.header_image.url }}" alt="{{ seller.name }}">
    {% endif %}
    <h2>{{ seller.name }}</h2>
    <p>{{ seller.description }}</p>
    <p>{{ seller.email }}</p>
    <p>{{ seller.address1 }}</p>
    <p>{{ seller.address2 }}</p>
    <p>{{ seller.city }}</p>
    <p>{{ seller.country }}</p>
</div>

{% endblock content %}